@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
:root {
  /* --primary: #5158bb; */
  --primary: #000;
  --white: #ffffff;
  --muted: #d9d9d9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body > #main {
  display: grid;
  grid-template-columns: 500px auto;
  align-items: start;
}
#main > #aside {
  background-color: var(--primary);
  position: relative;
  position: sticky;
  top: 0;
  background-image: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#main > #mainside {
  padding: 0px 80px;
  min-height: 100vh;
}
@media (max-width: 600px) {
  body > #main {
    grid-template-columns: 1fr;
  }
  #main > #aside {
    display: none;
  }
  #main > #mainside {
    padding: 0px 20px;
  }
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}
.navbar .nav {
  display: flex;
  gap: 20px;
}
.navbar .nav .nav-item {
  list-style: none;
}
.navbar .nav .nav-item a.nav-link {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.2rem;
}
.nav-link.active {
  font-weight: 700;
}
.navbar .logo {
  color: var(--primary);
  font-weight: 900;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .navbar .nav .nav-item a.nav-link {
    font-size: 0.9rem;
  }
}
/* hero */
#hero {
  max-width: 480px;
  margin-top: 100px;
}
#hero h1 {
  font-size: 3rem;
  color: var(--primary);
}
#hero p {
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  #hero {
    margin-top: 50px;
    max-width: 100%;
  }
  #hero h1 {
    font-size: 2.5rem;
  }
  #hero p {
    font-size: 1rem;
    line-height: 28px;
  }
}
/* education */
#education {
  max-width: 750px;
  margin-top: 100px;
}
#education h2 {
  font-size: 2rem;
  color: var(--primary);
  text-transform: uppercase;
}
#education div.timeline .circle-start {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary);
  margin-top: 50px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
#education div.timeline ul.timeline-list {
  margin-left: 25px;
  padding-left: 50px;
  border-left: 2px solid var(--primary);
  position: relative;
  padding-top: 50px;
}
#education div.timeline ul.timeline-list li {
  position: relative;
  list-style: none;
  margin-bottom: 50px;
}
#education div.timeline ul.timeline-list li::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: var(--primary);
  left: -74px;
  top: 0;
  transform: translateX(50%);
}
#education div.timeline ul.timeline-list li > h5,
h6,
p {
  color: var(--primary);
}
ul.timeline-list li h5 {
  font-weight: 900;
  font-size: 1.2rem;
}
ul.timeline-list li h6 {
  font-weight: 700;
  font-size: 1rem;
}
ul.timeline-list li p {
  margin-top: 20px;
  line-height: 30px;
  text-align: justify;
}
@media (max-width: 600px) {
  #education {
    margin-top: 50px;
  }
}
/* services*/
#services {
  max-width: 650px;
  margin-top: 50px;
}
#services h2 {
  font-size: 2rem;
  color: var(--primary);
  text-transform: uppercase;
}
#services .services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  gap: 22px;
  margin-top: 50px;
}
#services .services-container .service-item {
  background-color: #000000;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
#services .services-container .service-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--white);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services i.fa-solid {
  font-size: 2rem;
}
#services .services-container .service-item h6 {
  color: var(--white);
  text-align: justify;
  margin-bottom: 10px;
  font-size: 1rem;
}
#services .services-container .service-item p {
  color: var(--white);
  text-align: justify;
  margin-bottom: 10px;
  line-height: 30px;
}
@media (max-width: 600px) {
  #services {
    margin-top: 50px;
    max-width: 100%;
  }
  #services .services-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #services .services-container .service-item {
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
  }
  #services .services-container .service-icon {
    width: 50px;
    height: 50px;
  }
  #services i.fa-solid {
    font-size: 1.2rem;
  }
  #services .services-container .service-text {
    flex-basis: 80%;
  }
}
/* skills */
#skills {
  max-width: 650px;
  margin-top: 100px;
  /* border: 1px solid black; */
}
#skills h2 {
  font-size: 2rem;
  color: var(--primary);
  text-transform: uppercase;
}
#skills .skills-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
#skills .skills-container .skill {
  width: 100%;
  margin-bottom: 30px;
}
#skills .skills-container .skill > div {
  display: flex;
  justify-content: space-between;
}
#skills .skills-container .skill h5 {
  font-size: 1.5rem;
}
#skills .skills-container .skill .progress-bar {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-radius: 0px;
  background-color: var(--muted);
  border-radius: 8px;
  position: relative;
  display: block;
}
#skills .skills-container .skill .progress-bar .progress-bar-overlay {
  position: absolute;
  height: 100%;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px;
  border-radius: 8px;
}
@media (max-width: 600px) {
  #skills {
    margin-top: 50px;
    max-width: 100%;
  }
  #skills .skills-container .skill .progress-bar {
    height: 30px;
  }
}
/* footer */
footer {
  margin: 50px 0 20px;
}
footer p {
  font-size: 1rem;
  color: var(--primary);
}
footer p a {
  font-weight: 700;
  text-decoration: none;
  color: var(--primary);
}
