@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
:root {
  /* --primary: #5158bb; */
  --primary: #000;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body > #main {
  display: grid;
  grid-template-columns: 500px auto;
  align-items: start;
}
#main > #aside {
  background-color: var(--primary);
  position: relative;
  position: sticky;
  top: 0;
  background-image: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#main > #mainside {
  padding: 0px 80px;
  min-height: 100vh;
}
@media (max-width: 600px) {
  body > #main {
    grid-template-columns: 1fr;
  }
  #main > #aside {
    display: none;
  }
  #main > #mainside {
    padding: 0px 20px;
  }
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}
.navbar .nav {
  display: flex;
  gap: 20px;
}
.navbar .nav .nav-item {
  list-style: none;
}
.navbar .nav .nav-item a.nav-link {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.2rem;
}
.nav-link.active {
  font-weight: 700;
}
.navbar .logo {
  color: var(--primary);
  font-weight: 900;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .navbar .nav .nav-item a.nav-link {
    font-size: 0.9rem;
  }
}
/* hero */
#hero {
  max-width: 480px;
  margin-top: 100px;
}
#hero h1 {
  font-size: 3rem;
  color: var(--primary);
}
#hero p {
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  #hero {
    margin-top: 50px;
    max-width: 100%;
  }
  #hero h1 {
    font-size: 2.5rem;
  }
  #hero p {
    font-size: 1rem;
    line-height: 28px;
  }
}
/* education */
#education {
  max-width: 750px;
  margin-top: 100px;
}
#education h2 {
  font-size: 2rem;
  color: var(--primary);
  text-transform: uppercase;
}
div.timeline .circle-start {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary);
  margin-top: 50px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
ul.timeline-list {
  margin-left: 25px;
  padding-left: 50px;
  border-left: 2px solid var(--primary);
  position: relative;
  padding-top: 50px;
}
ul.timeline-list li {
  position: relative;
  list-style: none;
  margin-bottom: 50px;
}
ul.timeline-list li::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: var(--primary);
  left: -74px;
  top: 0;
  transform: translateX(50%);
}
ul.timeline-list li > h5,
h6,
p {
  color: var(--primary);
}
ul.timeline-list li h5 {
  font-weight: 900;
  font-size: 1.2rem;
}
ul.timeline-list li h6 {
  font-weight: 700;
  font-size: 1rem;
}
ul.timeline-list li p {
  margin-top: 20px;
  line-height: 30px;
  text-align: justify;
}
@media (max-width: 600px) {
  #education {
    margin-top: 50px;
  }
}
/* footer */
footer {
  margin: 50px 0 20px;
}
footer p {
  font-size: 1rem;
  color: var(--primary);
}
footer p a {
  font-weight: 700;
  text-decoration: none;
  color: var(--primary);
}
